@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax {
  position: relative;
  min-height: 75vh;
  min-width: 2000px;
  width: 100%;
  left: 50%; /* Center the image horizontally */
  transform: translateX(-50%); /* Center the image horizontally */
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}

.parallax > img {
  width: 100%;
}

.parallax__stars {
  --parallax-speed: 320;
  z-index: 2;
}

.parallax__planets {
  --parallax-speed: 290;
  z-index: 3;
}

.parallax__sun {
  --parallax-speed: 270;
  z-index: 4;
}

.parallax__mountain1 {
  --parallax-speed: 250;
  z-index: 5;
}

.parallax__mountain2 {
  --parallax-speed: 140;
  z-index: 6;
}

.parallax__crater {
  z-index: 7;
}

.parallax__content {
  --parallax-speed: 210;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 1024px) {
  .parallax__content {
    flex-direction: row;
    text-align: left;
  }
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 1vh));
  }
}

.project-card {
  transition: transform 0.5s ease-out;
}

.project-card img {
  border-radius: 15px;
}

.project-card .text-left {
  text-align: left;
}

.project-card .text-right {
  text-align: right;
}

.streaky-glow {
  position: relative;
  font-family: inherit;
  color: transparent;
  background: linear-gradient(90deg, #fff, rgba(255, 200, 0, 0.679), #0ff, #fff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 4s infinite alternate, streaky-move 4s linear infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 
                 0 0 10px rgba(255, 255, 255, 0.2), 
                 0 0 20px rgba(255, 255, 255, 0.2), 
                 0 0 40px rgba(255, 255, 255, 0.2), 
                 0 0 60px rgba(255, 255, 255, 0.2);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 
                 0 0 10px rgba(255, 255, 255, 0.4), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 40px rgba(255, 255, 255, 0.8), 
                 0 0 60px rgba(255, 255, 255, 1);
  }
}

@keyframes streaky-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
                1.8em -1.8em 0 0em #ffffff,
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
                2.5em 0em 0 0em #ffffff,
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
                1.75em 1.75em 0 0em #ffffff,
                0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
                0em 2.5em 0 0em #ffffff,
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
                -1.8em 1.8em 0 0em #ffffff,
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
                -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
                -2.6em 0em 0 0em #ffffff,
                -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
                1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
                2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
                1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
                0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
                -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
                -1.8em -1.8em 0 0em #ffffff;
  }
}